.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--marineBlue);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.Plan {
  color: var(--marineBlue);
}
.Heading {
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 16px;
}
.Info {
  margin-bottom: 16px;
}
.PlanGroup {
  border: 1px solid var(--lightGray);
  padding: 16px;
  display: flex;
  gap: 16px;
  margin-bottom: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.PlanName {
  font-weight: 700;
}
.togglerDiv {
  padding: 16px;
  background-color: var(--magnolia);
  display: flex;
  justify-content: space-around;
}

.Footer {
  display: flex;
  bottom: 0;

  justify-content: space-between;
}
.Footer button {
  margin: 16px 0;
  background-color: var(--marineBlue);
  color: var(--white);
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}
.Footer a {
  display: block;
  align-items: center;
  margin: 20px;
  text-decoration: none;
}
.BlueBorder {
  border-color: var(--marineBlue);
}
